.video-item {
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
  }
  .video-wrapper {
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  
  .video-wrapper.active {
    grid-template-columns: auto auto auto auto;
  }
  